<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

  <% # LefaM: SaaS Homework 1 %>
  <% if User.id_of_admin?(session[:user_id]) and params[:id]  %>
    <h2>Merge Articles</h2>
     <%= form_tag("/admin/content/merge/#{params[:id]}") %>
    Article ID: <input type='text' id='merge_with' /> <br />
    <input type='submit' value='Merge' />
    </form>
  <% end %>

