<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

  <% # LefaM: SaaS Homework 1 %>
  <% if User.id_of_admin?(session[:user_id]) and params[:id]  %>
    <h2>Merge Articles</h2>
    Article ID: <input type='text' name='merge_with' id='merge_with' />
  <% end %>
<% end %>
